* {
  /* border: 1px solid rebeccapurple; */
}
.container {
  width: 550px;
  height: 704px;
  background-color: white;
}

/* Navbar */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f55a5a;
  height: 55px;
  gap: 7px;
}

.navbar-title {
  margin: 0;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.075em;
}

/* Lists */

.lists {
  display: flex;
}
.photos {
  height: 168px;
  width: 125px;
}
.location-icon {
  width: 7px;
  height: 10px;
}
.countryContainer {
  display: flex;
  align-items: center;
}
